# Host and Port Configuration
HOST=127.0.0.1
PORT=8000
DEBUG=True

# Database Configuration
DATABASE_URL=sqlite:///./app/database/rescue.db

# Offline AI Engines API Base urls
OLLAMA_API_BASE=http://localhost:11434
OLLAMA_MODEL=llama3:8b

# Offline Computer Vision Models
YOLO_MODEL_PATH=./app/models/yolo/yolov8n.pt

# Offline Speech-to-Text & Text-to-Speech Settings
VOSK_MODEL_PATH=./app/models/vosk/model
PIPER_VOICE_PATH=./app/models/piper/en_US-lessac-medium.onnx
